# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

# Transpiled files
build

# Dot env
.env
.env.production
.env.development
.env.test

# Tmp
tmp/

# VS Code
.vscode/

# Vercel
.vercel

# Reports
reports/
